*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #ffffff;
  /* Робимо фон білим, як у вашому дизайні */
  color: #000000;
  font-family: sans-serif;
  /* Або ваш шрифт */
}

#app {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}